/question1/obj/Debug/netcoreapp3.1/question1.assets.cache
/question10/obj/Debug/netcoreapp3.1/question10.assets.cache
/question10/obj/Debug/netcoreapp3.1/question10.csprojAssemblyReference.cache
/question2/obj/Debug/netcoreapp3.1/question2.assets.cache
/question2/obj/Debug/netcoreapp3.1/question2.csprojAssemblyReference.cache
/question3/obj/Debug/netcoreapp3.1/question3.assets.cache
/question3/obj/Debug/netcoreapp3.1/question3.csprojAssemblyReference.cache
/question4/obj/Debug/netcoreapp3.1/question4.assets.cache
/question4/obj/Debug/netcoreapp3.1/question4.csprojAssemblyReference.cache
/question5/obj/Debug/netcoreapp3.1/question5.assets.cache
/question5/obj/Debug/netcoreapp3.1/question5.csprojAssemblyReference.cache
/question6/obj/Debug/netcoreapp3.1/question6.assets.cache
/question6/obj/Debug/netcoreapp3.1/question6.csprojAssemblyReference.cache
/question7/obj/Debug/netcoreapp3.1/question7.assets.cache
/question7/obj/Debug/netcoreapp3.1/question7.csprojAssemblyReference.cache
/question8a/obj/Debug/netcoreapp3.1/question8.assets.cache
/question8a/obj/Debug/netcoreapp3.1/question8.csprojAssemblyReference.cache
/question8b/obj/Debug/netcoreapp3.1/question8b.assets.cache
/question8b/obj/Debug/netcoreapp3.1/question8b.csprojAssemblyReference.cache
/question9/obj/Debug/netcoreapp3.1/question9.assets.cache
/question9/obj/Debug/netcoreapp3.1/question9.csprojAssemblyReference.cache
/question1/obj/Debug/netcoreapp3.1/question1.assets.cache
/question10/obj/Debug/netcoreapp3.1/question10.assets.cache
/question10/obj/Debug/netcoreapp3.1/question10.csprojAssemblyReference.cache
/question2/obj/Debug/netcoreapp3.1/question2.assets.cache
/question2/obj/Debug/netcoreapp3.1/question2.csprojAssemblyReference.cache
/question3/obj/Debug/netcoreapp3.1/question3.assets.cache
/question3/obj/Debug/netcoreapp3.1/question3.csprojAssemblyReference.cache
/question4/obj/Debug/netcoreapp3.1/question4.assets.cache
/question4/obj/Debug/netcoreapp3.1/question4.csprojAssemblyReference.cache
/question5/obj/Debug/netcoreapp3.1/question5.assets.cache
/question5/obj/Debug/netcoreapp3.1/question5.csprojAssemblyReference.cache
/question6/obj/Debug/netcoreapp3.1/question6.assets.cache
/question6/obj/Debug/netcoreapp3.1/question6.csprojAssemblyReference.cache
/question7/obj/Debug/netcoreapp3.1/question7.assets.cache
/question7/obj/Debug/netcoreapp3.1/question7.csprojAssemblyReference.cache
/question8a/obj/Debug/netcoreapp3.1/question8.assets.cache
/question8a/obj/Debug/netcoreapp3.1/question8.csprojAssemblyReference.cache
/question8b/obj/Debug/netcoreapp3.1/question8b.assets.cache
/question8b/obj/Debug/netcoreapp3.1/question8b.csprojAssemblyReference.cache
/question9/obj/Debug/netcoreapp3.1/question9.assets.cache
/question9/obj/Debug/netcoreapp3.1/question9.csprojAssemblyReference.cache
/question1/obj/Debug/netcoreapp3.1/question1.assets.cache
/question10/obj/Debug/netcoreapp3.1/question10.assets.cache
/question10/obj/Debug/netcoreapp3.1/question10.csprojAssemblyReference.cache
/question2/obj/Debug/netcoreapp3.1/question2.assets.cache
/question2/obj/Debug/netcoreapp3.1/question2.csprojAssemblyReference.cache
/question3/obj/Debug/netcoreapp3.1/question3.assets.cache
/question3/obj/Debug/netcoreapp3.1/question3.csprojAssemblyReference.cache
/question4/obj/Debug/netcoreapp3.1/question4.assets.cache
/question4/obj/Debug/netcoreapp3.1/question4.csprojAssemblyReference.cache
/question5/obj/Debug/netcoreapp3.1/question5.assets.cache
/question5/obj/Debug/netcoreapp3.1/question5.csprojAssemblyReference.cache
/question6/obj/Debug/netcoreapp3.1/question6.assets.cache
/question6/obj/Debug/netcoreapp3.1/question6.csprojAssemblyReference.cache
/question7/obj/Debug/netcoreapp3.1/question7.assets.cache
/question7/obj/Debug/netcoreapp3.1/question7.csprojAssemblyReference.cache
/question8a/obj/Debug/netcoreapp3.1/question8.assets.cache
/question8a/obj/Debug/netcoreapp3.1/question8.csprojAssemblyReference.cache
/question8b/obj/Debug/netcoreapp3.1/question8b.assets.cache
/question8b/obj/Debug/netcoreapp3.1/question8b.csprojAssemblyReference.cache
/question9/obj/Debug/netcoreapp3.1/question9.assets.cache
/question9/obj/Debug/netcoreapp3.1/question9.csprojAssemblyReference.cache
