/question1/obj/Debug/netcoreapp3.1/question1.assets.cache
/question10/obj/Debug/netcoreapp3.1/question10.assets.cache
/question10/obj/Debug/netcoreapp3.1/question10.csprojAssemblyReference.cache
/question2/obj/Debug/netcoreapp3.1/question2.assets.cache
/question2/obj/Debug/netcoreapp3.1/question2.csprojAssemblyReference.cache
/question3/obj/Debug/netcoreapp3.1/question3.assets.cache
/question3/obj/Debug/netcoreapp3.1/question3.csprojAssemblyReference.cache
/question4/obj/Debug/netcoreapp3.1/question4.assets.cache
/question4/obj/Debug/netcoreapp3.1/question4.csprojAssemblyReference.cache
/question5/obj/Debug/netcoreapp3.1/question5.assets.cache
/question5/obj/Debug/netcoreapp3.1/question5.csprojAssemblyReference.cache
/question6/obj/Debug/netcoreapp3.1/question6.assets.cache
/question6/obj/Debug/netcoreapp3.1/question6.csprojAssemblyReference.cache
/question7/obj/Debug/netcoreapp3.1/question7.assets.cache
/question7/obj/Debug/netcoreapp3.1/question7.csprojAssemblyReference.cache
/question8a/obj/Debug/netcoreapp3.1/question8.assets.cache
/question8a/obj/Debug/netcoreapp3.1/question8.csprojAssemblyReference.cache
/question8b/obj/Debug/netcoreapp3.1/question8b.assets.cache
/question8b/obj/Debug/netcoreapp3.1/question8b.csprojAssemblyReference.cache
/question9/obj/Debug/netcoreapp3.1/question9.assets.cache
/question9/obj/Debug/netcoreapp3.1/question9.csprojAssemblyReference.cache
/question1/obj/Debug/netcoreapp3.1/question1.assets.cache
/question10/obj/Debug/netcoreapp3.1/question10.assets.cache
/question10/obj/Debug/netcoreapp3.1/question10.csprojAssemblyReference.cache
/question2/obj/Debug/netcoreapp3.1/question2.assets.cache
/question2/obj/Debug/netcoreapp3.1/question2.csprojAssemblyReference.cache
/question3/obj/Debug/netcoreapp3.1/question3.assets.cache
/question3/obj/Debug/netcoreapp3.1/question3.csprojAssemblyReference.cache
/question4/obj/Debug/netcoreapp3.1/question4.assets.cache
/question4/obj/Debug/netcoreapp3.1/question4.csprojAssemblyReference.cache
/question5/obj/Debug/netcoreapp3.1/question5.assets.cache
/question5/obj/Debug/netcoreapp3.1/question5.csprojAssemblyReference.cache
/question6/obj/Debug/netcoreapp3.1/question6.assets.cache
/question6/obj/Debug/netcoreapp3.1/question6.csprojAssemblyReference.cache
/question7/obj/Debug/netcoreapp3.1/question7.assets.cache
/question7/obj/Debug/netcoreapp3.1/question7.csprojAssemblyReference.cache
/question8a/obj/Debug/netcoreapp3.1/question8.assets.cache
/question8a/obj/Debug/netcoreapp3.1/question8.csprojAssemblyReference.cache
/question8b/obj/Debug/netcoreapp3.1/question8b.assets.cache
/question8b/obj/Debug/netcoreapp3.1/question8b.csprojAssemblyReference.cache
/question9/obj/Debug/netcoreapp3.1/question9.assets.cache
/question9/obj/Debug/netcoreapp3.1/question9.csprojAssemblyReference.cache
/question1/obj/Debug/netcoreapp3.1/question1.assets.cache
/question10/obj/Debug/netcoreapp3.1/question10.assets.cache
/question10/obj/Debug/netcoreapp3.1/question10.csprojAssemblyReference.cache
/question2/obj/Debug/netcoreapp3.1/question2.assets.cache
/question2/obj/Debug/netcoreapp3.1/question2.csprojAssemblyReference.cache
/question3/obj/Debug/netcoreapp3.1/question3.assets.cache
/question3/obj/Debug/netcoreapp3.1/question3.csprojAssemblyReference.cache
/question4/obj/Debug/netcoreapp3.1/question4.assets.cache
/question4/obj/Debug/netcoreapp3.1/question4.csprojAssemblyReference.cache
/question5/obj/Debug/netcoreapp3.1/question5.assets.cache
/question5/obj/Debug/netcoreapp3.1/question5.csprojAssemblyReference.cache
/question6/obj/Debug/netcoreapp3.1/question6.assets.cache
/question6/obj/Debug/netcoreapp3.1/question6.csprojAssemblyReference.cache
/question7/obj/Debug/netcoreapp3.1/question7.assets.cache
/question7/obj/Debug/netcoreapp3.1/question7.csprojAssemblyReference.cache
/question8a/obj/Debug/netcoreapp3.1/question8.assets.cache
/question8a/obj/Debug/netcoreapp3.1/question8.csprojAssemblyReference.cache
/question8b/obj/Debug/netcoreapp3.1/question8b.assets.cache
/question8b/obj/Debug/netcoreapp3.1/question8b.csprojAssemblyReference.cache
/question9/obj/Debug/netcoreapp3.1/question9.assets.cache
/question9/obj/Debug/netcoreapp3.1/question9.csprojAssemblyReference.cache
/eventManagementApplicationWithInterface/eventManagementApplicationWithInterface.csproj
/eventManagementApplicationWithInterface/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/eventManagementApplicationWithInterface/obj/Debug/netcoreapp3.1/eventManagementApplicationWithInterface.AssemblyInfo.cs
/eventManagementApplicationWithInterface/obj/Debug/netcoreapp3.1/eventManagementApplicationWithInterface.AssemblyInfoInputs.cache
/eventManagementApplicationWithInterface/obj/Debug/netcoreapp3.1/eventManagementApplicationWithInterface.assets.cache
/eventManagementApplicationWithInterface/obj/eventManagementApplicationWithInterface.csproj.nuget.dgspec.json
/eventManagementApplicationWithInterface/obj/eventManagementApplicationWithInterface.csproj.nuget.g.props
/eventManagementApplicationWithInterface/obj/eventManagementApplicationWithInterface.csproj.nuget.g.targets
/eventManagementApplicationWithInterface/obj/project.assets.json
/eventManagementApplicationWithInterface/obj/project.nuget.cache
/question1/question1.cs
/question2/question2.cs
/.gitignore
/eventManagementApplicationWithInterface/bin/Debug/netcoreapp3.1/eventManagementApplicationWithInterface.deps.json
/eventManagementApplicationWithInterface/bin/Debug/netcoreapp3.1/eventManagementApplicationWithInterface.dll
/eventManagementApplicationWithInterface/bin/Debug/netcoreapp3.1/eventManagementApplicationWithInterface.exe
/eventManagementApplicationWithInterface/bin/Debug/netcoreapp3.1/eventManagementApplicationWithInterface.pdb
/eventManagementApplicationWithInterface/bin/Debug/netcoreapp3.1/eventManagementApplicationWithInterface.runtimeconfig.dev.json
/eventManagementApplicationWithInterface/bin/Debug/netcoreapp3.1/eventManagementApplicationWithInterface.runtimeconfig.json
/eventManagementApplicationWithInterface/obj/Debug/netcoreapp3.1/eventManagementApplicationWithInterface.csproj.CoreCompileInputs.cache
/eventManagementApplicationWithInterface/obj/Debug/netcoreapp3.1/eventManagementApplicationWithInterface.csproj.FileListAbsolute.txt
/eventManagementApplicationWithInterface/obj/Debug/netcoreapp3.1/eventManagementApplicationWithInterface.csprojAssemblyReference.cache
/eventManagementApplicationWithInterface/obj/Debug/netcoreapp3.1/eventManagementApplicationWithInterface.dll
/eventManagementApplicationWithInterface/obj/Debug/netcoreapp3.1/eventManagementApplicationWithInterface.exe
/eventManagementApplicationWithInterface/obj/Debug/netcoreapp3.1/eventManagementApplicationWithInterface.genruntimeconfig.cache
/eventManagementApplicationWithInterface/obj/Debug/netcoreapp3.1/eventManagementApplicationWithInterface.pdb
/question1/question1.cs
/question2/question2.cs
